<h2>Calendario</h2>
<!-- Default dropend button -->

<nav id="navbar-example2" class="navbar navbar-light bg-light px-3">
  <a class="navbar-brand" href="#">Tutti gli eventi</a>
  <ul class="nav nav-pills">

    <form method="post" >
      <select name ="mese">
        <option value ="%">Tutti</option>
        <option value ="01">Gennaio</option>
        <option value ="02">Febbraio</option>
        <option value ="03">Marzo</option>
        <option value ="04">Aprile</option>
        <option value ="05">Maggio</option>
        <option value ="06">Giugno</option>
        <option value ="07">Luglio</option>
        <option value ="08">Agosto</option>
        <option value ="09">Settembre</option>
        <option value ="10">Ottobre</option>
        <option value ="11">Novembre</option>
        <option value ="12">Dicembre</option>
      </select>
      <select name ="anno">
        <option value ="%">Tutti</option>
        <option value ="2020">2020</option>
        <option value ="2021">2021</option>
        <option value ="2022">2022</option>
        
      </select>
      <input name="filtra" type="submit" class="btn btn-danger mt-2 circle" value="Filtra">


    </form>

</nav>
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">


    {% if calendarEvent %}
        {% for events in calendarEvent %}

         
                <img src="{{ events.img }}" class="card-img" alt="..." style="width:100%; height: 20rem; object-fit: contain;">
             
                    <h5 class="card-title">{{ events.name }}</h5>
                    <h5 class="card-title">Data: {{ events.data }}</h5>   
  

        {% endfor %}
    {% else %}
        <p>Nessun evento disponibile in questa data.</p>
    {% endif %}


  <h4 id="scrollspyHeading1"></h4>
  <p>...</p>
 
</div>




