<h2 class="mt-4">Calendario</h2>

<div class="mb-5 mt-4 mr-5 row">
	<form method="post">

		<select name="mese">
			<option value="%">Tutti</option>
			<option value="01">Gennaio</option>
			<option value="02">Febbraio</option>
			<option value="03">Marzo</option>
			<option value="04">Aprile</option>
			<option value="05">Maggio</option>
			<option value="06">Giugno</option>
			<option value="07">Luglio</option>
			<option value="08">Agosto</option>
			<option value="09">Settembre</option>
			<option value="10">Ottobre</option>
			<option value="11">Novembre</option>
			<option value="12">Dicembre</option>
		</select>

		<select name="anno" class="ml-2">
			<option value="%">Tutti</option>
			<option value="2021">2021</option>
			<option value="2022">2022</option>
		</select>

		<input name="filtra" type="submit" class="btn btn-primary circle ml-2" value="Aggiungi filtro">
	</form>

	<form method="post" action="../classes/download-ics.php">
		<input type="submit" class="btn btn-primary circle mt-1" value="Esporta calendario">
	</form>
</div>

<div class="row">

	{% if calendarEvent %}
	{% for event in calendarEvent %}
	<div class="card mr-2 mb-2" style="width: 14rem;">
		<div class="">
			<h5 class="card-title">Data: {{ event.data }}</h5>
			<h5 class="card-title">{{ event.name }}</h5>
		</div>
		<a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.eventi_id }}">
			<img src="{{ event.img }}" class="card-img-top" alt="..."
				style="width:100%; height: 20rem; object-fit: contain;">
		</a>
	</div>

	{% endfor %}
	{% else %}
	<p>Nessun evento disponibile in questa data.</p>
	{% endif %}


</div>