<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% if events %}
        {% set active = true %}
        {% for event in events %}
        {% if active %}
        <div class="carousel-item active">
            <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.id }}"> <img src="{{ event.img }}"
                    class="d-block w-100" width="130px" height="200px" alt="..."></a>
        </div>
        {% set active = false %}
        {% else %}
        <div class="carousel-item">
            <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.id }}"> <img src="{{ event.img }}"
                    class="d-block w-100" width="130px" height="200px" alt="..."></a>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h5 class="mt-5">Nessun Evento disponibile...</h5>
        <a class="underline scuro" href="../{{ ROOT_URL }}user?page=createEvent">Crea un evento! &raquo;</a>
        {% endif %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="carouselExampleIndicators2" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators2">
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        {% if suggestedEvents %}
        {% set active = true %}
        {% for event in suggestedEvents %}
        {% if active %}
        <div class="carousel-item active">
            <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.id }}"> <img src="{{ event.img }}"
                    class="d-block w-100" width="130px" height="200px" alt="..."></a>
        </div>
        {% set active = false %}
        {% else %}
        <div class="carousel-item">
            <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.id }}"> <img src="{{ event.img }}"
                    class="d-block w-100" width="130px" height="200px" alt="..."></a>
        </div>
        {% endif %}
        {% endfor %}
        {% else %}
        <h5 class="mt-5">Nessun Evento disponibile...</h5>
        <a class="underline scuro" href="../{{ ROOT_URL }}user?page=createEvent">Crea un evento! &raquo;</a>
        {% endif %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators2"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators2"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
