<div class="mt-4">
    <a class="underline scuro" href="../{{ ROOT_URL }}public?page=homepage">Homepage &raquo;</a>
    <h2>Crea il tuo evento</h2>
</div>

<form method="post">
    <div class="form-group">
        <label for="img">Immagine</label>
        <input name="img" id="img" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="name">Nome</label>
        <input name="name" id="name" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description">Descrizione</label>
        <input name="description" id="description" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="date" id="data" name="data" class="form-control">
    </div>
    <div class="form-group">
        <label for="posti">N. Posti</label>
        <input name="posti" id="posti" type="text" class="form-control" required>
    </div>

    <button class="btn btn-primary mb-5 mt-3" type="submit" name="create">Crea</button>
</form>