<div class="mt-4">
    <a class="underline scuro" href="../{{ ROOT_URL }}public?page=homepage">Homepage &raquo;</a>
    <h2>Crea il tuo evento</h2>
</div>

<form method="post">
    <div class="form-group">
        <label for="img">Immagine</label>
        <input name="img" id="img" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="name">Nome</label>
        <input name="name" id="name" type="text" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description">Descrizione</label>
        <textarea rows="7" name="description" id="description" type="text" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="date" id="data" name="data" class="form-control">
    </div>
    <div class="form-group">
        <label for="posti">N. Posti</label>
        <input name="posti" id="posti" type="text" class="form-control" required>
    </div>

    <label for="musicType" class="">Seleziona un genere preferito</label>
    <select name="musicType" id="musicType" type="text" class="form-control" value="{{ musicType.id }}">
        <option value="0"> - Scegli un Genere - </option>
        {% if musicTypes %}
            {% for musicType in musicTypes %}

                <option value="{{ musicType.id }}">{{ musicType.genere }}</option>

            {% endfor %}
        {% else %}
            <p>Nessun Genere disponibile</p>
        {% endif %}
    </select>

    <button class="btn btn-primary mb-2 mt-4" type="submit" name="create">Crea</button>
</form>