<div class="mt-5 mb-4">
    <a href="../{{ ROOT_URL }}user?page=event" class="back underline scuro">&laquo; Lista Eventi</a>
</div>

<h2 class="mb-4">Modifica Evento</h2>

<form method="post">
    <div class="form-group">
        <label for="img">Immagine</label>
        <input name="img" id="img" type="text" class="form-control" value="{{ event['img'] }}">
    </div>
    <div class="form-group">
        <label for="name">Nome</label>
        <input name="name" id="name" type="text" class="form-control" value="{{ event['name'] }}">
    </div>
    <div class="form-group">
        <label for="description">Descrizione</label>
        <input name="description" id="description" type="text" class="form-control" value="{{ event['description'] }}">
    </div>
    <div class="form-group">
        <label for="data">Data</label>
        <input type="date" id="data" name="data" class="form-control" value="{{ event['data'] }}">
    </div>
    <div class="form-group">
        <label for="posti">N. Posti da aggiungere</label>
        <input name="posti" id="posti" type="text" class="form-control" value="0">
    </div>

    <label for="musicType" class="">Modifica genere preferito</label>
    <select name="musicType" id="musicType" type="text" class="form-control" value="{{ event.music_type_id }}">
        <option value="{{ event.music_type_id }}"> {{ event.genere }} </option>
        {% if musicTypes %}
            {% for musicType in musicTypes %}

                <option value="{{ musicType.id }}">{{ musicType.genere }}</option>

            {% endfor %}
        {% else %}
            <p>Nessun Genere disponibile</p>
        {% endif %}
    </select>

    <input type="hidden" name="id" value="{{ event['id'] }}">
    <input name="edit" type="submit" class="btn btn-primary mt-5" value="Modifica">
</form>