<h2 class="mt-5">Lista Preferiti</h2>
<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for pageNumber in pagesNumber %}
            <li class="page-item">
                <a class="btn btn-primary ml-1 mt-2" role="button"
                    href="../{{ ROOT_URL }}user?page=favoriteEvent&pagination={{pageNumber}}">
                    {{ pageNumber + 1 }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    {% if favoriteEvent %}
    {% for event in favoriteEvent %}

    <div class="card mr-2 mt-2" style="width: 14rem;">
        <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.id }}">
            <img src="{{ event.img }}" class="card-img-top" alt="..."
                style="width:100%; height: 20rem; object-fit: contain;">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <h5 class="card-title">Data: {{ event.data }}</h5>
            <h5 class="card-title">Posti: {{ event.posti }}</h5>
            <form method="post" class="right">
                <input type="hidden" name="id" value="{{ event.id }}">
                <input name="remove_fav" onclick="return confirm('Procedere ad eliminare?');" type="submit"
                    class="btn btn-danger mt-2 circle" value="Rimuovi Evento">
            </form>
        </div>
    </div>

    {% endfor %}

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% for pageNumber in pagesNumber %}
            <li class="page-item">
                <a class="btn btn-primary ml-1 mt-2" role="button"
                    href="../{{ ROOT_URL }}user?page=favoriteEvent&pagination={{pageNumber}}">
                    {{ pageNumber + 1 }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </nav>

    {% else %}
    <p>Nessun evento disponibile...</p>
    {% endif %}

</div>