<h2>Tutti gli eventi</h2>

<div class="row">

    {% if events %}
    {% for event in events %}

    <div class="card mr-2 mb-2" style="width: 14rem;">
        <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event['id'] }}">
            <img src="{{ event.img }}" class="card-img-top" alt="..."
                style="width:100%; height: 20rem; object-fit: contain;">
        </a>
        <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <h5 class="card-title">Data: {{ event.data }}</h5>
            <h5 class="card-title">Posti: {{ event.posti }}</h5>

            <form method="post" class="center-button">
                <input type="hidden" name="id" value="{{ event.id }}">
                {% if loggedInUser %}
                <input name="addToFavourite" type="submit" class="btn btn-info mt-1" value="Aggiungi ai preferiti">
                {% endif %}
            </form>

        </div>
    </div>

    {% endfor %}
    {% else %}
    <h5 class="mt-5">Nessun Evento disponibile...</h5>
    <a class="underline scuro" href="../{{ ROOT_URL }}user?page=createEvent">Crea un evento! &raquo;</a>
    {% endif %}

</div>