<h2>Suggeriti per te</h2>
<div class="row mb-5">

    {% if suggestedEvents %}
    {% for event in suggestedEvents %}

    <div class="card mr-2 mt-1" style="width: 14rem;">
        <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.id }}">
            <img src="{{ event.img }}" class="card-img-top" alt="..."
                style="width:100%; height: 20rem; object-fit: contain;">
        </a>
    </div>

    {% endfor %}
    {% endif %}

</div>

<h2>Ultimi aggiunti</h2>
<div class="row mb-5">

    {% if events %}
    {% for event in events %}

    <div class="card mr-2 mt-1" style="width: 14rem;">
        <a href="../{{ ROOT_URL }}user?page=viewEvent&id={{ event.id }}">
            <img src="{{ event.img }}" class="card-img-top" alt="..."
                style="width:100%; height: 20rem; object-fit: contain;">
        </a>
    </div>

    {% endfor %}
    {% endif %}

</div>