/* Style */

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Bebas Neue", cursive !important;
  font-size: 21px !important;
}

.color-text-footer {
  color: white !important;
}

#header {
  background-color: transparent !important;
  position: fixed;
  top: 0;
  width: 100vw;
}

#header.fixed {
  background-color: rgba(255, 255, 255, 1) !important;
  position: fixed;
  z-index: 10000;
}

.navbar-toggler {
  background-color: black !important;
}

.nav-link {
  color: black !important;
}

.navbar-brand {
  color: black !important;
}

.container {
  max-width: 80% !important;
}

.delete-container {
  margin: 15px -10px 0 -10px;
  color: lightgrey;
}

.delete-container:hover {
  color: darkslategray;
}

.dropdown-back-dark {
  background-color: rgb(27, 27, 27) !important;
}

#main {
  min-height: calc(100vh - 450px) !important;
}

.center-button {
  text-align: center;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.banner {
  height: 100vh !important;
}

/* ------------------------------------------------------------------------------
	 Footer
-------------------------------------------------------------------------------*/

.footer {
  text-align: left;
  margin-top: 5rem;
}
.footer-top {
  background-color: #181818;
  padding-top: 50px;
}
.footer-bottom {
  background-color: #313454;
  padding: 20px 0;
}
.footer .footer-col {
  margin-bottom: 50px;
}
.footer h5 {
  color: #fff;
}
.footer h5 {
  margin-bottom: 20px;
}
.footer p {
  color: rgba(255, 255, 255, 0.25);
}
.footer a {
  color: rgba(255, 255, 255, 0.5);
}
.footer a:hover {
  color: #e84545;
}
.footer .footer-share {
  margin-top: 50px;
  padding: 0 !important;
}
.footer .footer-share li {
  display: inline-block;
  float: none;
}
.footer .footer-share a {
  border: none;
  font-size: 21px;
  color: rgba(255, 255, 255, 0.25);
}
.footer .fa-heart {
  color: #e84545;
  font-size: 11px;
  margin: 0 2px;
}

/* ------------------------------------------------------------------------------
	 MediaQuery
-------------------------------------------------------------------------------*/

@media (max-width: 1024px) {
  #carouselExampleIndicators {
    display: none !important;
  }

  #suggest {
    margin-top: 5rem !important;
  }
}
